@import "reset";
@import "./themes/normal";
@import "./themes/dark";
@import "./variables/global";


.app {
  font: var(--font-m);
  background: var(--bg-color);
  color: var(--primary-color);
  min-height: 100vh;
}

.svg {
  height: 50px;
  width: 50px;
}

.content-page {
  display: flex;
}

.page-wrapper {
  flex-grow: 1;
  padding: 20px;
}