.app.light {
  --bg-color: #fff;
  --inverted-bg-color: #30363d;
  --primary-color: #0550ae;
  --secondary-color: #0A3069;
  --inverted-secondary-color: #A5D6ff;
  --inverted-primary-color: #7ee787;
}